
NeanderRef/2x1MUX.bdf
NeanderRef/2x1MUX.bsf
NeanderRef/2x1MUX_8bit.bdf
NeanderRef/2x1MUX_8bit.bsf
NeanderRef/3x8DECOD.bdf
NeanderRef/3x8DECOD.bsf
NeanderRef/AC.bdf
NeanderRef/AC.bsf
NeanderRef/Contador.bdf
NeanderRef/Contador.bsf
NeanderRef/db/.cmp.kpt
NeanderRef/db/altsyncram_8hv.tdf
NeanderRef/db/logic_util_heursitic.dat
NeanderRef/db/Neander.(0).cnf.cdb
NeanderRef/db/Neander.(0).cnf.hdb
NeanderRef/db/Neander.(1).cnf.cdb
NeanderRef/db/Neander.(1).cnf.hdb
NeanderRef/db/Neander.(10).cnf.cdb
NeanderRef/db/Neander.(10).cnf.hdb
NeanderRef/db/Neander.(11).cnf.cdb
NeanderRef/db/Neander.(11).cnf.hdb
NeanderRef/db/Neander.(12).cnf.cdb
NeanderRef/db/Neander.(12).cnf.hdb
NeanderRef/db/Neander.(13).cnf.cdb
NeanderRef/db/Neander.(13).cnf.hdb
NeanderRef/db/Neander.(14).cnf.cdb
NeanderRef/db/Neander.(14).cnf.hdb
NeanderRef/db/Neander.(15).cnf.cdb
NeanderRef/db/Neander.(15).cnf.hdb
NeanderRef/db/Neander.(16).cnf.cdb
NeanderRef/db/Neander.(16).cnf.hdb
NeanderRef/db/Neander.(17).cnf.cdb
NeanderRef/db/Neander.(17).cnf.hdb
NeanderRef/db/Neander.(18).cnf.cdb
NeanderRef/db/Neander.(18).cnf.hdb
NeanderRef/db/Neander.(19).cnf.cdb
NeanderRef/db/Neander.(19).cnf.hdb
NeanderRef/db/Neander.(2).cnf.cdb
NeanderRef/db/Neander.(2).cnf.hdb
NeanderRef/db/Neander.(20).cnf.cdb
NeanderRef/db/Neander.(20).cnf.hdb
NeanderRef/db/Neander.(21).cnf.cdb
NeanderRef/db/Neander.(21).cnf.hdb
NeanderRef/db/Neander.(22).cnf.cdb
NeanderRef/db/Neander.(22).cnf.hdb
NeanderRef/db/Neander.(23).cnf.cdb
NeanderRef/db/Neander.(23).cnf.hdb
NeanderRef/db/Neander.(24).cnf.cdb
NeanderRef/db/Neander.(24).cnf.hdb
NeanderRef/db/Neander.(25).cnf.cdb
NeanderRef/db/Neander.(25).cnf.hdb
NeanderRef/db/Neander.(26).cnf.cdb
NeanderRef/db/Neander.(26).cnf.hdb
NeanderRef/db/Neander.(27).cnf.cdb
NeanderRef/db/Neander.(27).cnf.hdb
NeanderRef/db/Neander.(28).cnf.cdb
NeanderRef/db/Neander.(28).cnf.hdb
NeanderRef/db/Neander.(29).cnf.cdb
NeanderRef/db/Neander.(29).cnf.hdb
NeanderRef/db/Neander.(3).cnf.cdb
NeanderRef/db/Neander.(3).cnf.hdb
NeanderRef/db/Neander.(30).cnf.cdb
NeanderRef/db/Neander.(30).cnf.hdb
NeanderRef/db/Neander.(31).cnf.cdb
NeanderRef/db/Neander.(31).cnf.hdb
NeanderRef/db/Neander.(32).cnf.cdb
NeanderRef/db/Neander.(32).cnf.hdb
NeanderRef/db/Neander.(4).cnf.cdb
NeanderRef/db/Neander.(4).cnf.hdb
NeanderRef/db/Neander.(5).cnf.cdb
NeanderRef/db/Neander.(5).cnf.hdb
NeanderRef/db/Neander.(6).cnf.cdb
NeanderRef/db/Neander.(6).cnf.hdb
NeanderRef/db/Neander.(7).cnf.cdb
NeanderRef/db/Neander.(7).cnf.hdb
NeanderRef/db/Neander.(8).cnf.cdb
NeanderRef/db/Neander.(8).cnf.hdb
NeanderRef/db/Neander.(9).cnf.cdb
NeanderRef/db/Neander.(9).cnf.hdb
NeanderRef/db/Neander.ace_cmp.bpm
NeanderRef/db/Neander.ace_cmp.cdb
NeanderRef/db/Neander.ace_cmp.hdb
NeanderRef/db/Neander.asm.qmsg
NeanderRef/db/Neander.asm.rdb
NeanderRef/db/Neander.asm_labs.ddb
NeanderRef/db/Neander.cbx.xml
NeanderRef/db/Neander.cmp.bpm
NeanderRef/db/Neander.cmp.cdb
NeanderRef/db/Neander.cmp.hdb
NeanderRef/db/Neander.cmp.idb
NeanderRef/db/Neander.cmp.logdb
NeanderRef/db/Neander.cmp.rdb
NeanderRef/db/Neander.cmp_merge.kpt
NeanderRef/db/Neander.cuda_io_sim_cache.31um_ff_1200mv_0c_fast.hsd
NeanderRef/db/Neander.cuda_io_sim_cache.31um_tt_1200mv_85c_slow.hsd
NeanderRef/db/Neander.db_info
NeanderRef/db/Neander.eco.cdb
NeanderRef/db/Neander.eda.qmsg
NeanderRef/db/Neander.fit.qmsg
NeanderRef/db/Neander.hier_info
NeanderRef/db/Neander.hif
NeanderRef/db/Neander.ipinfo
NeanderRef/db/Neander.lpc.html
NeanderRef/db/Neander.lpc.rdb
NeanderRef/db/Neander.lpc.txt
NeanderRef/db/Neander.map.ammdb
NeanderRef/db/Neander.map.bpm
NeanderRef/db/Neander.map.cdb
NeanderRef/db/Neander.map.hdb
NeanderRef/db/Neander.map.kpt
NeanderRef/db/Neander.map.logdb
NeanderRef/db/Neander.map.qmsg
NeanderRef/db/Neander.map.rdb
NeanderRef/db/Neander.map_bb.cdb
NeanderRef/db/Neander.map_bb.hdb
NeanderRef/db/Neander.map_bb.logdb
NeanderRef/db/Neander.Neander0.rtl.mif
NeanderRef/db/Neander.pplq.rdb
NeanderRef/db/Neander.pre_map.hdb
NeanderRef/db/Neander.pti_db_list.ddb
NeanderRef/db/Neander.qns
NeanderRef/db/Neander.root_partition.map.reg_db.cdb
NeanderRef/db/Neander.routing.rdb
NeanderRef/db/Neander.rtlv.hdb
NeanderRef/db/Neander.rtlv_sg.cdb
NeanderRef/db/Neander.rtlv_sg_swap.cdb
NeanderRef/db/Neander.sgdiff.cdb
NeanderRef/db/Neander.sgdiff.hdb
NeanderRef/db/Neander.sld_design_entry.sci
NeanderRef/db/Neander.sld_design_entry_dsc.sci
NeanderRef/db/Neander.smart_action.txt
NeanderRef/db/Neander.sta.qmsg
NeanderRef/db/Neander.sta.rdb
NeanderRef/db/Neander.sta_cmp.6_slow_1200mv_85c.tdb
NeanderRef/db/Neander.tis_db_list.ddb
NeanderRef/db/Neander.tiscmp.fast_1200mv_0c.ddb
NeanderRef/db/Neander.tiscmp.slow_1200mv_0c.ddb
NeanderRef/db/Neander.tiscmp.slow_1200mv_85c.ddb
NeanderRef/db/Neander.vpr.ammdb
NeanderRef/db/prev_cmp_Neander.qmsg
NeanderRef/decod3x8.bdf
NeanderRef/decod3x8.bsf
NeanderRef/Display7.bdf
NeanderRef/Display7.bsf
NeanderRef/DivFreq.bdf
NeanderRef/DivFreq.bsf
NeanderRef/FA.bdf
NeanderRef/FA.bsf
NeanderRef/ffD.bdf
NeanderRef/ffD.bsf
NeanderRef/HA.bdf
NeanderRef/HA.bsf
NeanderRef/HAS.bdf
NeanderRef/HAS.bsf
NeanderRef/incremental_db/compiled_partitions/Neander.db_info
NeanderRef/incremental_db/compiled_partitions/Neander.root_partition.cmp.ammdb
NeanderRef/incremental_db/compiled_partitions/Neander.root_partition.cmp.cdb
NeanderRef/incremental_db/compiled_partitions/Neander.root_partition.cmp.dfp
NeanderRef/incremental_db/compiled_partitions/Neander.root_partition.cmp.hdb
NeanderRef/incremental_db/compiled_partitions/Neander.root_partition.cmp.logdb
NeanderRef/incremental_db/compiled_partitions/Neander.root_partition.cmp.rcfdb
NeanderRef/incremental_db/compiled_partitions/Neander.root_partition.map.cdb
NeanderRef/incremental_db/compiled_partitions/Neander.root_partition.map.dpi
NeanderRef/incremental_db/compiled_partitions/Neander.root_partition.map.hbdb.cdb
NeanderRef/incremental_db/compiled_partitions/Neander.root_partition.map.hbdb.hb_info
NeanderRef/incremental_db/compiled_partitions/Neander.root_partition.map.hbdb.hdb
NeanderRef/incremental_db/compiled_partitions/Neander.root_partition.map.hbdb.sig
NeanderRef/incremental_db/compiled_partitions/Neander.root_partition.map.hdb
NeanderRef/incremental_db/compiled_partitions/Neander.root_partition.map.kpt
NeanderRef/incremental_db/README
NeanderRef/ledA.bdf
NeanderRef/ledA.bsf
NeanderRef/ledB.bdf
NeanderRef/ledB.bsf
NeanderRef/ledC.bdf
NeanderRef/ledC.bsf
NeanderRef/ledD.bdf
NeanderRef/ledD.bsf
NeanderRef/ledE.bdf
NeanderRef/ledE.bsf
NeanderRef/ledF.bdf
NeanderRef/ledF.bsf
NeanderRef/ledG.bdf
NeanderRef/ledG.bsf
NeanderRef/mux21_8bit.bdf
NeanderRef/mux21_8bit.bsf
NeanderRef/Neander.bdf
NeanderRef/Neander.qpf
NeanderRef/Neander.qsf
NeanderRef/Neander.qws
NeanderRef/Neander_nativelink_simulation.rpt
NeanderRef/opDecod.bdf
NeanderRef/opDecod.bsf
NeanderRef/output_files/Neander.asm.rpt
NeanderRef/output_files/Neander.cdf
NeanderRef/output_files/Neander.done
NeanderRef/output_files/Neander.eda.rpt
NeanderRef/output_files/Neander.fit.rpt
NeanderRef/output_files/Neander.fit.smsg
NeanderRef/output_files/Neander.fit.summary
NeanderRef/output_files/Neander.flow.rpt
NeanderRef/output_files/Neander.jdi
NeanderRef/output_files/Neander.map.rpt
NeanderRef/output_files/Neander.map.summary
NeanderRef/output_files/Neander.pin
NeanderRef/output_files/Neander.pti_db_list.ddb
NeanderRef/output_files/Neander.sof
NeanderRef/output_files/Neander.sta.rpt
NeanderRef/output_files/Neander.sta.summary
NeanderRef/output_files/Neander.tis_db_list.ddb
NeanderRef/PC.bdf
NeanderRef/PC.bsf
NeanderRef/Projeto final - Parte 1 - Luccas da Silva Lima.pdf
NeanderRef/Projeto Final - Parte 2 - Luccas da Silva Lima.pdf
NeanderRef/RCA.bdf
NeanderRef/RCA.bsf
NeanderRef/RDM.bdf
NeanderRef/RDM.bsf
NeanderRef/regUpCounter.bdf
NeanderRef/regUpCounter.bsf
NeanderRef/Relatorio_Neander.pdf
NeanderRef/REM.bdf
NeanderRef/REM.bsf
NeanderRef/RI.bdf
NeanderRef/RI.bsf
NeanderRef/ROM.bsf
NeanderRef/ROM_teste.bsf
NeanderRef/ROM_teste.vhd
NeanderRef/simulation/gate_work/_info
NeanderRef/simulation/gate_work/_vmake
NeanderRef/simulation/gate_work/neander/_primary.dat
NeanderRef/simulation/gate_work/neander/_primary.dbs
NeanderRef/simulation/gate_work/neander/structure.dat
NeanderRef/simulation/gate_work/neander/structure.dbs
NeanderRef/simulation/gate_work/neander/structure.prw
NeanderRef/simulation/gate_work/neander/structure.psm
NeanderRef/simulation/modelsim.ini
NeanderRef/simulation/msim_transcript
NeanderRef/simulation/Neander.sft
NeanderRef/simulation/Neander.vho
NeanderRef/simulation/Neander_modelsim.xrf
NeanderRef/simulation/Neander_run_msim_gate_vhdl.do
NeanderRef/temporizadorNeander.bdf
NeanderRef/temporizadorNeander.bsf
NeanderRef/UC.bdf
NeanderRef/UC.bsf
NeanderRef/ULA.bdf
NeanderRef/ULA.bsf
NeanderRef/ZF.bdf
